html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #002244;
  color: white;
  font-family: Arial;
}

header {
  display: flex;
  border-bottom: 1px solid #e89900;
  box-shadow: 0 0 10px #e89900;
  justify-content: center;
  background: white;
  padding: 10px;
}

/* Falamos rapidamente de responsive design */

@media screen and (max-width: 600px){
  body {
    color: #002244;    
  }
  header {
    background: #e89900;
  }

}